#card-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 50px;
    
}

#card-projects h1 {
    color: var(--primary);
    margin-bottom: 10px;
}

.card-descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-descricao .projeto-imagem {
    background-color: brown;
    width: 20em;
    height: 10em;
    
}

.descricao-projeto p {
    margin: 15px 0px;
    font-weight: 600;
}

.card-descricao button {
    border: 1px solid var(--header-color);
    color: var(--header-color);
    font-size: 12pt;
    padding: 4px 40px;
    border-radius: 15px;
    margin-top: 15px;
    background-color: var(--primary);
}

.card-descricao button:hover {
    background-color: var(--header-color);
    color: var(--primary);
    border: 1px solid var(--primary);
    transition: 0.5s; 
}