

#nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    background-color: var(--bg-header);
    color: var(--secundary);
    font-family: Roboto, 'sans-serif';
}

#nav-bar ul {
    list-style-type: none;
}

#nav-bar li {
    display: inline;
    margin: 0px 10px;
}

